.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  width: clamp(100px, 50%, 300px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
